h1 {
  width:220px;
  border-bottom:1px solid red;
  margin-right:0;
  display:block;
  color:white;
margin-bottom:5px;
}

h3 {
color:white;
margin-top:0;
}

.author {
  width:260px;
  display:flex;
  padding:3% 0 0 5%;
  flex-direction: column;
}


