body {
  background: #ffffff url("../img/background.jpg") no-repeat fixed;
  background-size:cover;
  height:100%;
  margin:0;
}

* {
  box-sizing: border-box;
}

header {
overflow:hidden;
}

main {
  overflow:hidden;
  height:100%;
}

a {
  text-decoration: none;
  color:white;
}

li {
  list-style: none;
  padding-bottom:10px;

}

.disabl {
  display:none;
}

.visib {
  visibility: visible !important;
  opacity: 1 !important;

}

