#wrapp {
  height:22px;
  width:50px;
  position:absolute;
  top:6%;
  right:3%;
  cursor: pointer;
}

.wrapper {
  width:50px;
  height:4px;
  background-color:white;
  margin-bottom:8px;
  transition:all 0.5s ease-out;
}

a {
  text-decoration: none;
  color:white;
}

li {
  list-style: none;
  padding-bottom:10px;

}
.hidden {
  display:none;
}

.bt1 {
  transform:rotate(45deg) translate(2px, 5px);
  width:40px;

}
.bt2 {
transform:rotate(-45deg) translate(4px, -7px);
  width:40px;
}
.bt3 {
  opacity: 0;
}

.slidebackground {
  background-color: rgba(12, 11, 9, 0.7);
  float: right;
  height: 40vh;
  opacity:0.7;
  animation-name: slide;
  animation-duration: 1.2s;
  width:30%;
  animation-timing-function:ease;
  border-left:1px solid blue;
  padding-right:5%;
position:relative;
}

.slidebackground-close {
  background-color: rgba(12, 11, 9, 0.7);
  float: right;
  height: 40vh;
  opacity:0.7;
  animation-name:slideInLeft;
  animation-duration: 1.2s;
  animation-timing-function:ease;
}


.slidebackground-up {
  background-color: rgba(12, 11, 9, 0.7);
  position:absolute;
  right:0;
  bottom:0;
  height:60vh;
  opacity:0.7;
  animation-name: slide-up;
  animation-duration: 1.2s;
  width:30%;
  animation-timing-function:ease;
  padding-right:5%;
  border-left:1px solid blue;
}

.slidebackgroundup-close {
  background-color: rgba(12, 11, 9, 0.7);
  position:absolute;
  right:0;
  bottom:0;
  height:60vh;
  opacity:0.7;
  animation-name: slide-down;
  animation-duration: 1.2s;
  animation-timing-function:ease;
}



@keyframes slide-down {
  0% {
    width:30%;
    height:60vh;
  }
  100% {
    width: 0;
    height:0;
  }
}

@keyframes slide-up {
  0% {
    width:0;
    height:0;
  }
  100% {
    width: 30%;
    height:60vh;
  }
}


@keyframes slide {
  0% {
    width:0;
  }
  100% {
    width: 30%;
  }
}


@keyframes slideInLeft {
  0% {
    width: 30%;
  }

  100% {
    width:0;
  }
}