.projects {
  padding: 5vh 15vh 2vh 4vh;

  a {
    margin:15px;
  }
}

.project-container {
  height:92vh;
overflow: hidden;
  background-color: #272727c9;
  display:flex;
  justify-content: center ;
  align-items: center;
  flex-wrap:wrap;

}


.my-project {
  width:40vh;
  height:40vh;
  background-color: rgba(0, 0, 0, 0.10);
  flex-grow: 1;
  opacity: 1;
  position:relative;
  border:2px solid black;

  a:hover {
    height:100%;
    background-color:black;
    transition: all 0.5s ease-in-out;
  }
}

.block {
  visibility: hidden;

}
.project {
  background:url("../img/model1.png") no-repeat ;
  background-size:cover;
  position:relative;
  &:hover {
    transform: scale(1.1 , 1.2);

  }
}
.project1 {
  background:url("../img/firstlanding.png") no-repeat ;
  background-size:cover;
  &:hover {
    transform: scale(1.2);
  }
}

.project,
.project1 {


  :hover {
    background-color: rgba(0, 0, 0, 0.47);
    transition: all 0.5s ease-in-out;

    .block {
      position: absolute;
      top: 35%;
      right:25%;
      visibility: visible;
      color: #fff;
      overflow: hidden;
      font-weight: bold;
      font-size: 20px;
      text-align: center;
    }
    }
  }

@include media951 {

  .my-project {
    width:65vh;
    height:75vh;
  }

  .project,
  .project1 {

    :hover {


      .block {
        top: 30vh;
        right:20vh;
        font-size: 35px;
        text-align: center;
      }
    }
  }


}



@include media650 {

.my-project {
  width:35vh;
  height:35vh;
}

  .project,
  .project1 {

    :hover {


      .block {
        top: 35%;
        right:20%;
        font-size: 18px;
      }
    }
  }

}

@include media350 {

  .my-project {
    width:30vh;
    height:30vh;
  }

  .project,
  .project1 {

    :hover {


      .block {
        top: 35%;
        right:20%;
        font-size: 18px;
      }
    }
  }

}




@include media280 {

  .my-project {
    width:20vh;
    height:28vh;
  }


  .project,
  .project1 {

    :hover {


      .block {

        font-size: 15px;
      }
    }
  }
}

@include media210 {

  .my-project {
    width:15vh;
    height:25vh;
  }

}