.projects {
  padding: 5vh 15vh 2vh 4vh;

  a {
    margin:15px;
  }
}

.project-container {
  height:92vh;
overflow: auto;
  background-color: #272727c9;
  display:flex;
  justify-content: flex-start ;
  align-items: center;
  flex-wrap:wrap;

}


.my-project {
  width:40vh;
  height:40vh;
  background-color: rgba(0, 0, 0, 0.10);
  flex-grow: 1;
  opacity: 1;
  position:relative;
  border:2px solid black;

  a:hover {
    height:100%;
    background-color:black;
    transition: all 0.5s ease-in-out;
  }
}

.block {
  visibility: hidden;
}
.project {
  background:url("../img/model1.png") no-repeat ;
  background-size:cover;
  position:relative;
  &:hover {
    transform: scale(1.1 , 1.2);

  }
}
.project1 {
  background:url("../img/firstlanding.png") no-repeat ;
  background-size:cover;
  &:hover {
    transform: scale(1.2);
  }
}

.project,
.project1 {


  :hover {
    background-color: rgba(0, 0, 0, 0.47);
    transition: all 0.5s ease-in-out;

    .block {
      position: absolute;
      top: 35%;
      right:35%;
      visibility: visible;
      color: #fff;
      overflow: hidden;
      font-weight: bold;
    }
    }
  }


