div {

    width:200px;
    height:300px;

    background-color:red;
    /*animation-name: slide;*/
    /*animation-duration: 4s;*/
    /*animation-direction:normal;*/
}


.vnaxot {
    animation-name: slide;
    animation-duration: 4s;
width:45%;
}

.aba {
    animation-name: slideInLeft;
    animation-duration: 4s;
}


@keyframes slideInLeft {
 0% {
    width: 45%;
}

    100% {
        width:0;
    }
}



@keyframes slide {
0% {
    width: 5%;
}
100% {
    width: 45%;
}
}